body, h1, h2, h3, h4, h5, h6 {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
}
.home header{
    margin: 0;
}
.home .main-cool {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 1000px;
    text-align: center;
    color: #f8f8f8;
    background: url(./img/home.jpg) no-repeat center;
    
}
